/Calculator/.vs/Calculator/v16/.suo
/Calculator/Calculator/bin/Debug/Calculator.exe
/Calculator/Calculator/bin/Debug/Calculator.pdb
/Calculator/Calculator/obj/Debug/Calculator.csproj.AssemblyReference.cache
/Calculator/Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
/Calculator/Calculator/obj/Debug/Calculator.exe
/Calculator/Calculator/obj/Debug/Calculator.pdb
/Calculator/Calculator/bin/Debug/Calculator.exe
/Calculator/Calculator/bin/Debug/Calculator.pdb
/Calculator/Calculator/obj/Debug/Calculator.csproj.AssemblyReference.cache
/Calculator/Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
/Calculator/Calculator/obj/Debug/Calculator.exe
/Calculator/Calculator/obj/Debug/Calculator.pdb
/Calculator/Addition/obj/Debug/Addition.csproj.AssemblyReference.cache
/Calculator/Addition/obj/Debug/Addition.csproj.CopyComplete
/Calculator/Addition/obj/Debug/Addition.csproj.CoreCompileInputs.cache
/Calculator/Addition/obj/Debug/Addition.dll
/Calculator/Addition/obj/Debug/Addition.pdb
/Calculator/Calculator/bin/Debug/Calculator.exe.config
/Calculator/Calculator/obj/Debug/Calculator.CalculatorApp.resources
/Calculator/Calculator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
/Calculator/Calculator/obj/Debug/Calculator.Properties.Resources.resources
/.gitignore
/Calculator/Division/obj/Debug/Division.csproj.AssemblyReference.cache
/Calculator/Division/obj/Debug/Division.csproj.CopyComplete
/Calculator/Division/obj/Debug/Division.csproj.CoreCompileInputs.cache
/Calculator/Division/obj/Debug/Division.dll
/Calculator/Division/obj/Debug/Division.pdb
/Calculator/Multiplication/obj/Debug/Multiplication.csproj.AssemblyReference.cache
/Calculator/Multiplication/obj/Debug/Multiplication.csproj.CopyComplete
/Calculator/Multiplication/obj/Debug/Multiplication.csproj.CoreCompileInputs.cache
/Calculator/Multiplication/obj/Debug/Multiplication.dll
/Calculator/Multiplication/obj/Debug/Multiplication.pdb
/Calculator/Substraction/obj/Debug/Substraction.csproj.AssemblyReference.cache
/Calculator/Substraction/obj/Debug/Substraction.csproj.CopyComplete
/.gitignore
/Calculator/Substraction/obj/Debug/Substraction.csproj.CoreCompileInputs.cache
/Calculator/Substraction/obj/Debug/Substraction.dll
/Calculator/Substraction/obj/Debug/Substraction.pdb
/Calculator/Addition/obj/Debug/Addition.csproj.FileListAbsolute.txt
/Calculator/Calculator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
/Calculator/Division/obj/Debug/Division.csproj.FileListAbsolute.txt
/Calculator/Multiplication/obj/Debug/Multiplication.csproj.FileListAbsolute.txt
/Calculator/Substraction/obj/Debug/Substraction.csproj.FileListAbsolute.txt
