/Calculator/.vs/Calculator/v16/.suo
/Calculator/Calculator/bin/Debug/Calculator.exe
/Calculator/Calculator/bin/Debug/Calculator.pdb
/Calculator/Calculator/obj/Debug/Calculator.csproj.AssemblyReference.cache
/Calculator/Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
/Calculator/Calculator/obj/Debug/Calculator.exe
/Calculator/Calculator/obj/Debug/Calculator.pdb
/Calculator/Calculator/bin/Debug/Calculator.exe
/Calculator/Calculator/bin/Debug/Calculator.pdb
/Calculator/Calculator/obj/Debug/Calculator.csproj.AssemblyReference.cache
/Calculator/Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
/Calculator/Calculator/obj/Debug/Calculator.exe
/Calculator/Calculator/obj/Debug/Calculator.pdb
